PORT = your_port
MONGO_URI=your_mongo_db_url
NODE_ENV=your_node_env
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
WORKSPACE_PATH=create_temp_folder_inside_this_service_and_add_the_path_here
CONTAINER_WORKSPACE=need_just_main_folder_and_temp_path